.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .lg-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/bg.png);
    

    .right-lg-container {
      backdrop-filter: blur(5px);
      background-color: rgba($color: rgba(255, 255, 255, 0.68), $alpha: 0.8);
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius:0 0 12px 12px;

      .form-container {
        
        margin-top: 1vw;
        height: 100%;
        width: 60%;
        padding: 1.5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $text-dark;
        transition: 1s ease-in-out;
        
        .progress-container{
            transition: 1s ease-in-out;
            
        
            .line {
              width: 40%;
              height: 3px;
              background: gray;
              position: relative;
              z-index: -1;
              left:3vw;
              top: 2.4vw;
            }
            .line2 {
                width: 40%;
                height: 3px;
                background: gray;
                position: relative;
                z-index: -1;
                left:13vw;
                top: 2.2vw;
              }
              .active-line{
                  background-color: $primary-color;
                  animation: fadeInLeft 1s ease-in-out;
              }
            .progressbar{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0.5vw 2vw;
                li{
                    padding: 0.5vw;
                    height: 3vw;
                    width: 3vw;
                    font-size: 1.2vw;
                    font-weight: 600;
                    background-color: white;
                    color: gray;                    
                    border-radius: 50%;
                    border: 2px solid gray;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .active-bubble{
                background-color: $primary-color !important;
                color: white !important;
                border: none !important;
                transition: 1s ease-in-out;
            }
            
        }
        
        .fieldset{
            position: relative;
            border: none;
            display: none;
            transition: 1s ease-in-out;
            
        }
        .active-frm{
            display: block;
            animation: fadeInRight 1s ease-in-out;
        }
        .lg-frm-heading {
          font-size: 2.75vw;
          font-weight: 700;
          margin-bottom: 1vw;
          text-align: center;
        }
        .btn-primary {
          border-radius: 10px;
          border: none;
          padding: 1vw 3vw;
          font-size: 1vw;
          font-weight: 600;
          outline: none;
          background-color: $primary-color;
          border: solid 2px $primary-color;
          color: #fff;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:focus {
            filter: brightness(60%);
          }
          &:hover {
            filter: brightness(60%);
          }
        }
        .btn-secondary-outline {
          padding: 1vw 3vw;
          border-radius: 10px;
          font-size: 1vw;
          font-weight: 600;
          outline: none;
          border: solid 2px $primary-color;
          color: $primary-color;
          background-color: transparent;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:focus {
            background-color: $primary-color;
            color: #fff;
          }
          &:hover {
            background-color: $primary-color;
            color: #fff;
          }
        }
        .form-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 1.5vw;
          label {
             font-size:18px;
            

           
            
          }
          

          .form-control {
            width: 100%;
            height: 3.5vw;
            border-radius: 10px;
            border: 2px solid $primary-color;
            padding: 0.5vw 1vw;
            font-size: 1vw;
            font-weight: 300;
            outline: none;
            transition: all 0.3s ease-in-out;
            &:focus {
              border: 3px solid $primary-color;
            }
          }
          
          
          
        }
        .form-min-group{
          width: 100%;
          display: flex;
          column-gap: 50px;
          justify-content: center;
          margin-bottom: 1.5vw;
          .form-label-flex{
            display: flex;
            flex-direction: column;
           
          }
          label {
              
             font-size:16px;
           
          }
          .form-min-control{
            width: 99%;
            height: 3.5vw;
            border-radius: 10px;
            border: 2px solid $primary-color;
            padding: 0.5vw 1vw;
            font-size: 1vw;
            font-weight: 300;
            outline: none;
            transition: all 0.3s ease-in-out;
            &:focus {
              border: 3px solid $primary-color;
            }
          }

        }
        .form-radio-group{
           width: 100%;
          display: flex;
           column-gap: 66px;
           justify-content: flex-start;
        }
        .form-radio-set2-group{
           width: 100%;
          display: flex;
           column-gap:85px;
           justify-content: flex-start;
        }
        .form-checkbox-group{
          display: flex;
           align-items: center;
          column-gap: 20px;
          .checklabel{
            display: flex;
            align-items: center;
            column-gap: 15px;
            align-items: center;
            
          }
        }
        .form-checkbox-group2{
          display: flex;
           align-items: center;
          column-gap: 20px;
          .checklabel{
            display: flex;
            align-items: center;
            column-gap: 15px;
            align-items: center;
            
          }
        }
        .form-checkbox-group4{
           display: flex;
           align-items: center;
           column-gap: 20px;
           .checklabel{
            display: flex;
            align-items: center;
            column-gap: 15px;
            align-items: center;
          }
        }
        #canvas{
          border: 2px solid black;
        }
      }
    }
  }
}
@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(40px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       width: 0;
    }
    100% {
       opacity: 1;
       width: 40%;
    }
 } 