@import "./component.scss";

$primarycolor: #9a2500;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $primarycolor;
    font-family: Poppins;
    font-style: normal;
    text-align: right;
  }
}
.containe {
  background-image: url("../image/vendor_bg.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  
  .login-form {
    @include formblur(0px 0px 30px 30px, 100vh);
    padding:40px 60px;
    width:auto important;
    height: auto !important;
    margin-top: 20%;
  }
  .logo {
    width: 253px;
    height: 62.1px;
    margin: auto;
  }
  .qote {
    width: 403px;
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
  }
  .spok {
    height: 17px;
    font-size: 11px;
    font-family: Poppins;
    font-style: italic;
    text-align: center;
  }
}
.error{
  color:red;
}
//Error Visibility
.error-visible {
  visibility: visible;
}
.error-hidden {
  visibility: hidden;
}

	//Disabled Button Style
// .disabled {
//   opacity: 40%;
//   pointer-events: none;
// }
// .cursor-disable {
//   cursor: not-allowed;
// }
.flex-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  @include input(100%);
}
.flex-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  margin: 0.3vw 0;
}
.radio-btn::selection {
  color: $primarycolor;
}

.prbtn {
  @include primary-btn(100%);
}
.scebtn {
  width: 100%;
  height: 53px;
  border: none;
  margin-top: 20px;
  font-weight: 600;
  background: transparent;
  border: 2px solid $primarycolor;
  box-sizing: border-box;
  border-radius: 10px;
}
.prbtn:hover {
  cursor: pointer;
  background-color: #6d1900;
}
.scebtn:hover {
  cursor: pointer;
  background-color: $primarycolor;
  color: white;
}
.sub-title {
  font-family: Poppins;
  font-style: bold;
  font-weight: normal;
  font-size: 16px;
}
a:link {
  color: $primarycolor;
  text-decoration: none;
}
a:visited {
  color: $primarycolor;
  background-color: transparent;
  text-decoration: none;
}
.or {
  font-weight: 500;
  font-size: 16px;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  column-gap: 10px;
  user-select: none;
}
.or .line {
  height: 1px;
  width: 100%;
  background: #c4c4c4;
}
