* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-container a {
  text-decoration: none;
  color: #9a2500;
  font-family: Poppins;
  font-style: normal;
  text-align: right;
}

.containe {
  background-image: url("../image/bunch-flowers-leaves-table.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containe .login-form {
  background: rgba(255, 255, 255, 0.68);
  height: 100vh;
  width: 42vw;
  padding: 64px 86px 0 86px;
  border-radius: 0px 0px 30px 30px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  -webkit-box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.25);
  padding: 40px 60px;
  width: auto important;
}

.containe .logo {
  width: 253px;
  height: 62.1px;
  margin: auto;
}

.containe .qote {
  width: 403px;
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.containe .spok {
  height: 17px;
  font-size: 11px;
  font-family: Poppins;
  font-style: italic;
  text-align: center;
}

.flex-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}

.flex-input input[type="text"],
.flex-input [type="password"] {
  width: 100%;
  height: 53px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  accent-color: #9a2500;
}

.flex-input input[type="radio"] {
  accent-color: #9a2500;
}

.flex-input label {
  width: 83px;
  height: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.flex-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10vw;
  margin: 0.3vw 0;
}

.radio-btn::-moz-selection {
  color: #9a2500;
}

.radio-btn::selection {
  color: #9a2500;
}

.prbtn {
  width: 100%;
  height: 53px;
  font-weight: 600;
  background: #9a2500;
  border-radius: 10px;
  color: white;
  border: none;
}

.scebtn {
  width: 100%;
  height: 53px;
  border: none;
  margin-top: 20px;
  font-weight: 600;
  background: transparent;
  border: 2px solid #9a2500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.prbtn:hover {
  cursor: pointer;
  background-color: #6d1900;
}

.scebtn:hover {
  cursor: pointer;
  background-color: #9a2500;
  color: white;
}

.sub-title {
  font-family: Poppins;
  font-style: bold;
  font-weight: normal;
  font-size: 16px;
}

a:link {
  color: #9a2500;
  text-decoration: none;
}

a:visited {
  color: #9a2500;
  background-color: transparent;
  text-decoration: none;
}

.or {
  font-weight: 500;
  font-size: 16px;
  color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.or .line {
  height: 1px;
  width: 100%;
  background: #c4c4c4;
}
/*# sourceMappingURL=addevent.css.map */