@font-face {
  font-family: "Gilroy_R";
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy_M";
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy_B";
  src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy_SB";
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy_Italics_M";
  src: url(../fonts/Gilroy-MediumItalic.ttf);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: #b1b1b1;
  padding-right: 16px;
}

::-webkit-file-upload-button {
  background: #eeecfc;
  border-radius: 6px;
  border: none;
  margin-right: 20px;
  outline: none;
}

.disabled {
  opacity: 40%;
  pointer-events: none;
}

.cursor-disable {
  cursor: not-allowed;
}

.error-visible {
  visibility: visible;
}

.error-hidden {
  visibility: hidden;
}

::-webkit-input-placeholder {
  color: #b1b1b1;
}

:-ms-input-placeholder {
  color: #b1b1b1;
}

::-ms-input-placeholder {
  color: #b1b1b1;
}

::placeholder {
  color: #b1b1b1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: linear-gradient(110.33deg, #ffffff 0%, #ededed 107.08%);
  overflow-x: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -2;
}

.main .header {
  height: 100px;
  width: 100vw;
  background: #fff;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 20px rgba(69, 69, 69, 0.02);
          box-shadow: 0px 10px 20px rgba(69, 69, 69, 0.02);
}

.main .header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .header .logo img {
  width: 151px;
  height: auto;
}

.main .header .links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header .links .link {
  font-family: "Gilroy_SB";
  font-size: 20px;
  color: #1e1e1e;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .header .links .link:hover {
  color: #5744e3;
}

.main .header .links .login-btn {
  padding: 5px 56px;
  border-radius: 10px;
  background: #5744e3;
  color: #fff;
}

.main .header .links .login-btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 6px 12px rgba(87, 68, 227, 0.3);
          box-shadow: 0px 6px 12px rgba(87, 68, 227, 0.3);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.main .header .links .login-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 226px;
  margin-top: 90px;
}

.main .hero .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.main .hero .content .heading {
  font-family: "Gilroy_B";
  font-size: 52px;
  line-height: 71px;
  color: #1e1e1e;
}

.main .hero .content .heading span {
  color: #5744e3;
}

.main .hero .content .description {
  font-family: "Gilroy_M";
  font-size: 20px;
  line-height: 30px;
}

.main .hero .content .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  background: #fff;
  color: #5744e3;
  font-family: "Gilroy_SB";
  font-size: 20px;
  padding: 16px 56px;
  border: 2px solid #5744e3;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main .hero .content .cta:hover {
  background: #5744e3;
  color: #fff;
}

.main .hero .content .cta:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.main .hero .hero-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .hero .hero-img img {
  width: 400px;
  height: auto;
  opacity: 0.6;
  border-radius: 50%;
}
/*# sourceMappingURL=indexstyle.css.map */