@import "./components1.scss";

body {
  background-color: linear-gradient(110.33deg, #ffffff 0%, #ededed 107.08%);
  overflow-x: hidden;
  // padding:0 226px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -2;
}

.main {
  .header {
    height: 100px;
    width: 100vw;
    background: $white;
    padding: 0 70px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(69, 69, 69, 0.02);
    .logo {
      flex: 1;
      img {
        width: 151px;
        height: auto;
      }
    }
    .links {
      flex: 1;
      display: flex;
      column-gap: 30px;
      justify-content: flex-end;
      align-items: center;
      .link {
        font-family: "Gilroy_SB";
        font-size: 20px;
        color: $text;
        transition: 0.2s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
      .login-btn {
        padding: 5px 56px;
        border-radius: 10px;
        background: $primary;
        color: $white;
        &:hover {
          color: $white;
          box-shadow: 0px 6px 12px rgba(87, 68, 227, 0.3);
          transform: scale(1.03);
        }
        &:active {
          box-shadow: none;
          transform: scale(1);
        }
      }
    }
  }
  .hero {
    display: flex;
    align-items: center;
    padding: 0 226px;
    margin-top: 90px;
    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .heading {
        font-family: "Gilroy_B";
        font-size: 52px;
        line-height: 71px;
        color: $text;
        span {
          color: $primary;
        }
      }
      .description {
        font-family: "Gilroy_M";
        font-size: 20px;
        line-height: 30px;
      }
      .cta {
        display: flex;
        width: 230px;
        background: #fff;
        color: $primary;
        font-family: "Gilroy_SB";
        font-size: 20px;
        padding: 16px 56px;
        border: 2px solid $primary;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          background: $primary;
          color: $white;
        }
        &:active {
          transform: scale(0.99);
        }
      }
    }
    .hero-img {
      flex: 1;

      img {
        width: 400px;
        height: auto;
        opacity: 0.6;
        border-radius: 50%;
      }
    }
  }
  // .head1 h2 {
  // }
  // .card img {
  //   width: 291px;
  //   height: 192px;
  // }
  // .card {
  //   position: absolute;
  //   width: 291px;
  //   height: 357px;
  //   box-shadow: 0px 10px 20px rgba(199, 199, 199, 0.24);
  //   border-radius: 10px;
  //   left: 70px;
  //   top: 800px;
  // }

  // .container .cardtitle p {
  //   position: absolute;
  //   width: 151px;
  //   height: 27px;
  //   left: 12px;
  //   top: 200px;
  // }
  // .container .cardtag {
  //   position: absolute;
  //   width: 66px;
  //   height: 18px;
  //   left: 12px;
  //   top: 225px;
  //   font-family: Poppins;
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 12px;
  //   line-height: 18px;
  //   border-radius: 10px;
  //   padding: 1px 5px 3px 5px;
  //   background: #f4c8ff;
  // }
  // .container .divide{
  //   margin: 1vw 0;

  // }
  // .card {
  //   display: flex;
  //   flex-direction: column;
  //   width: 20vw;
  //   .card-header {
  //     padding: 0;
  //     .card-img {
  //       width: 20vw;
  //       height: 15vw;
  //     }
  //     .qwe{
  //       width: 151px;
  //       height: 27px;
  //     }
  //     .wer{
  //       width: 66px;
  //       height: 18px;
  //       font-family: Poppins;
  //       font-style: normal;
  //       font-weight: 500;
  //       font-size: 12px;
  //       line-height: 18px;
  //       border-radius: 10px;
  //       padding: 1px 5px 3px 5px;
  //     }
  //   }
  // }
  .sptecard {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .btnth {
    margin-right: 100px;
  }
  .cat-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding: 0 70px;
  }

  .cards {
    display: flex;
    column-gap: 20px;
    margin: 20px 70px 54px 70px;
    .card {
      box-shadow: 0px 10px 20px rgba(199, 199, 199, 0.24);
      border-radius: 10px;
      .card-img {
        width: 291px;
        height: 192px;
        overflow-y: hidden;
        img {
          width: 100%;
          border-radius: 10px 10px 0px 0px;
        }
      }
      .content {
        padding: 12px 12px 16px 12px;
        background: white;
        border-radius: 0px 0px 10px 10px;
        .sec1 {
          display: flex;
          flex-direction: column;
          row-gap: 6px;
          .title {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
          }
          .tag {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: #9000b4;
            padding: 2px 12px;
            background: #f4c8ff;
            border-radius: 14px;
            width: 90px;
          }
        }
        .hr {
          width: 100%;
          height: 2px;
          margin: 12px 0px;
          background: #ececec;
          border-radius: 4px;
        }
        .sec2 {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          .detail {
            display: flex;
            column-gap: 8px;
            .a {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              color: #707070;
            }
            .b {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              color: #1e1e1e;
            }
          }
        }
      }
    }
  }
}
