@import "./components1.scss";
body {
  line-height: 1.5;
}
.header {
  height: 100px;
  width: 100vw;
  background: white;
  padding: 0 70px;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(69, 69, 69, 0.02);
}
.logo {
  flex: 1;
}
.logoimg {
  width: 151px;
  height: auto;
}
.links {
  flex: 1;
  display: flex;
  column-gap: 30px;
  justify-content: flex-end;
  align-items: center;
}
.links {
  flex: 1;
  display: flex;
  column-gap: 30px;
  justify-content: flex-end;
  align-items: center;
}
.link {
  font-family: "Gilroy_SB";
  font-size: 20px;
  color: $text;
  transition: 0.2s ease-in-out;
  &:hover {
    color: $primary;
  }
}

.card_wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
img {
  width: 100%;
  display: block;
}
.img-display {
  overflow: hidden;
}
.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}
.img-select {
  display: flex;
}
.img-item {
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.img-item:hover {
  opacity: 0.8;
}
.product-contect {
  padding: 2rem 1rem;
}
.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover {
  opacity: 0.9;
}
.product-rating {
  color: #ffc107;
  span {
    font-weight: 400;
    color: #252525;
  }
}
.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.prprice span {
  color: #411e83;
}
.product-price-capacity span {
  color: #256eff;
}
.product-details h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-details p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-details ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-details ul li {
  margin: 0;
  list-style: none;
  background: url("../image/check-tick-icon-14156.png") left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-details ul li span {
  font-weight: 400;
}
.cta {
  position: absolute;
  width: 230px;
  right:142px;
  background: #fff;
  color: $primary;
  font-family: "Gilroy_SB";
  font-size: 20px;
  padding: 16px 56px;
  border: 2px solid $primary;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background: $primary;
    color: $white;
  }

  &:active {
    transform: scale(0.99);
  }
}
// .card {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 1.5rem;
// }
// .card_wrapper{
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
