* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  background: #141731;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.sidebar header {
  font-size: 22px;
  color: black;
  text-align: center;
  line-height: 70px;
  background:#c4c4c4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  line-height: 65px;
  font-size: 20px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

.sidebar ul li:hover a {
  padding-left: 50px;
}

.sidebar i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 7px 12px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

label #cancel {
  z-index: 11111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

table {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.hline {
  text-align: center;
  padding-top: 60px;
}

.buttonn {
  background: #3498db;
  padding: 2px 10px;
  border-radius: 3px;
}

.buttonn p {
  font-family: 'Roboto';
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.buttonn:hover {
  cursor: pointer;
}
@import "./component.scss";

$primarycolor: #9a2500;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $primarycolor;
    font-family: Poppins;
    font-style: normal;
    text-align: right;
  }
}
.containe {
  background-image: url("../image/bunch-flowers-leaves-table.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  .login-form {
    @include formblur(10px 10px 10px 10px, 90vh);
  }
  .logo {
    width: 253px;
    height: 62.1px;
    margin: auto;
  }
  .qote {
    width: 403px;
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
  }
  .spok {
    height: 17px;
    font-size: 11px;
    font-family: Poppins;
    font-style: italic;
    text-align: center;
  }
   .mydropdown{
       display: flex;
  justify-content: right;
  align-items: center;
         border:none;
         border-bottom:2px dotted black;
         display:inline;max-width:20%;
         font-style: italic;
         font-weight: 600;
         cursor: pointer;  
         justify-content: center;
    }
    .mydropdown:hover , .myoption:active , .myoption:checked{
         border:2px dotted green;
    }
    .myoption{
         font-style: normal;
    }
    .mydropdown .myoption:checked,
    .mydropdown .myoption:hover ,
    .mydropdown .myoption:active {
        font-style: italic;
        font-weight: 600;
     }
}
.flex-input-checkbox{
  display: flex;
   text-align:center;
   border-radius: 10px;
}
.flex-input-email{
   display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  @include input(100%);
}
.flex-input-name{
     display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  @include input(100%);
}
   .form-checkbox-group{
          display: flex;
          column-gap: 20px;
          .checklabel{
            display: flex;
            column-gap: 6px;
            align-items: center;
          }
        }
// .flex-input-password{
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 32px;
//   @include input(100%);
// }

.error{
  color:red;
}
//Error Visibility
.error-visible {
  visibility: visible;
}
.error-hidden {
  visibility: hidden;
}

	//Disabled Button Style
.disabled {
  opacity: 40%;
  pointer-events: none;
}
.cursor-disable {
  cursor: not-allowed;
}

.flex-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  @include input(100%);
}
.flex-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  margin: 0.3vw 0;
}
.radio-btn::selection {
  color: $primarycolor;
}

.prbtn {
  @include primary-btn(100%);
}
.scebtn {
  width: 100%;
  height: 53px;
  border: none;
  margin-top: 20px;
  font-weight: 600;
  background: transparent;
  border: 2px solid $primarycolor;
  box-sizing: border-box;
  border-radius: 10px;
}
.prbtn:hover {
  cursor: pointer;
  background-color: #6d1900;
}
.scebtn:hover {
  cursor: pointer;
  background-color: $primarycolor;
  color: white;
}
.sub-title {
  font-family: Poppins;
  font-style: bold;
  font-weight: normal;
  font-size: 16px;
}
a:link {
  color: $primarycolor;
  text-decoration: none;
}
a:visited {
  color: $primarycolor;
  background-color: transparent;
  text-decoration: none;
}
.or {
  font-weight: 500;
  font-size: 16px;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  column-gap: 10px;
  user-select: none;
}
.or .line {
  height: 1px;
  width: 100%;
  background: #c4c4c4;
}

/* */
/*# sourceMappingURL=admin.css.map */